name: Refresh

on:
  schedule:
    - cron: "*/10 *  * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TZ: Asia/Shanghai

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13
    
      - name: Git setting
        run: |
          git config --local user.name "Github Action"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git pull --rebase
          go build main.go
            
      - name: Refresh list
        run: ./main
        shell: bash

      - name: Git status
        run: git status
        
      - name: Git push
        run: |
          git add .
          git commit -m 'refresh list'
          git push
